* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}
body {
    background-image: url(images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
    background-size: cover;

}
h1 {
    color: white;
    text-align: center;
    margin-top: 300px;
}
h1.member {
    margin-top: 45px;
}
.container {
    background-color: rgba(255,255,255,.5);
    width: 400px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 60px;
    border-radius: 10px;

}
.textbox
{
    width: 75%;
    height: 35px;
    padding: 1px;
    padding-left: 20px;
    color: black;
    font-size: 15px;
    font-family: century gothic;
    border: none;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=color] {
    box-sizing: border-box;
    width: 300px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-image: url("https://res.cloudinary.com/mamo/image/upload/c_scale,w_40/v1475961978/Contacts-Filled-50_qrzhh1.png");
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
    color: black;
}
::placeholder
{
    color: black;
}

input[type=email] {
    background-image: url("https://res.cloudinary.com/mamo/image/upload/c_scale,w_40/v1476033159/Gmail-Login-Filled-50_tywgz0.png");
    background-position: 5px;
}
input[type=date] {
    background-image: url("https://res.cloudinary.com/mamo/image/upload/c_scale,w_40/v1476033159/Birthday-Cake-Filled-50_pbfbgl.png");
    background-position: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0492C2;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    width: 148px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 20px;
}
input[type=submit]:hover{
    background-color: #1f456e;
}

select {
    width: 100px;
    height: 60px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;

}
input[type="checkbox"] {
    margin-bottom: 25px;
}
.register
{
    width: 200px;
    height: 45px;
    margin-top: 25px;
    font-size: 30px;
    font-family: century gothic;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #0DF6E3;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

@media screen and (max-width: 480px) {
    h1 {
        margin-top: 30px;
    }
    .container {
        width: 90%;
        padding: 0 5%;


    }
}
@media screen and (max-width: 332px) {
    .container {
        height: auto;
        background-color: rgba(255, 255, 255, 0.4);
    }
    input[type=text], input[type=password], input[type=email], input[type=date], input[type=color], select {
        width: 275px;
        height: auto;
    }
    input[type=button], input[type=submit], input[type=reset] {
        width: 150px;
        height: 30px;
    }
    input[type=checkbox] {
        line-height: -50px;
    }
    input[type=color] {
        height: 40px;
    }
    p {
        line-height: 1px;
    }

}